In [65]:
# Import panda library 
import pandas as pd 
import numpy as np
import datetime
import pytz

In [66]:
#use these locations as cellular centroids
excel_file = 'cellular_centroids.xlsx'
cellular_centroids = pd.read_excel(excel_file)

In [67]:
cellular_centroids

                                        name   longitude   latitude
0                                Bowles Hall -122.253168  37.873357
1                                Barker Hall -122.265490  37.873950
2             Doe Memorial Library / Library -122.259560  37.872440
3                           Bancroft Library -122.258700  37.872300
4                               Wheeler Hall -122.259140  37.871290
..                                       ...         ...        ...
151               Graduate Theological Union -122.261843  37.875544
152       Northern Regional Library Facility -122.334985  37.917643
153           Earthquake Engineering Library -122.332485  37.918328
154  Maxwell Family Field and Stadium Garage -122.252720  37.872300
155                              Jacobs Hall -122.258809  37.876039

[156 rows x 3 columns]

In [68]:
user_initial = pd.DataFrame(columns=['user_id', 'longitude', 'latitude', 'elevation', 'x_speed', 'y_speed', 'z_speed', 'x_acc', 'y_acc', 'z_acc', 'time'])

In [69]:
user_initial

Empty DataFrame
Columns: [user_id, longitude, latitude, elevation, x_speed, y_speed, z_speed, x_acc, y_acc, z_acc, time]
Index: []

In [70]:
pst_timezone = pytz.timezone("US/Pacific")
time=datetime.datetime.now(pst_timezone).time()

In [71]:
print(time)

15:34:11.481555

In [72]:
# generate 10,000 users
def initialize_user(user_initial, cellular_centroids, time):
    for i in range (1, 10001):
        
        #get a random center
        random_cellular = cellular_centroids.sample(n=1)
        random_cellular
        
        #user id
        user_id = i
        
        #longitude
        longitude = random_cellular.iloc[0,1] + np.random.randn()*0.0002
        
        #latitude
        latitude = random_cellular.iloc[0,2] + np.random.randn()*0.0005
        
        #elevation
        t = np.random.randn()
        if t<0:
            elevation = 52 + t*5
        else:
            elevation = 52 + t*20
            
        #speed
        x_speed = 5*np.random.randn()
        y_speed = 5*np.random.randn()
        z_speed = 1*np.random.randn()
        
        #acceleration
        x_acc = 3*np.random.randn()
        y_acc = 3*np.random.randn()
        z_acc = 3*np.random.randn()
        
        #time
          
        user_initial = user_initial.append({'user_id':user_id, 'longitude': longitude, 'latitude':latitude, 'elevation':elevation, 'x_speed':x_speed, 'y_speed':y_speed, 'z_speed':z_speed, 'x_acc':x_acc, 'y_acc':y_acc, 'z_acc':z_acc, 'time':time} , ignore_index=True)
        
    return user_initial

In [ ]:
user_initial = initialize_user(user_initial, cellular_centroids, time)

In [ ]:
user_initial